<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh" >
 <head> 
  <title>BBS FRAME PAGE</title>
  
  <link type="text/css" rel="stylesheet" href="../media/scripts/fb3.css" />
  <link rel="stylesheet" type="text/css" href="../media/scripts/scrollable-navig.css" />

  <script src="../../media/scripts/jquery.js"></script>
  <script src="../../media/scripts/jquery.tools.min.js"></script>
  <script src="../../media/scripts/jquery.mousewheel.js"></script>

  
  <script type="text/javascript">
  var display_comment = false;
  $( document ).ready( function() {
              

        $("#content_iframe").src = "bbstop10.appspot.com";
        $("a[rel]").overlay(); 
  
  
        $('#comment_button').click( function(){
            display_comment = !display_comment;
            if( display_comment ){
                $('#comment_button span').html( " <span class='toolbar_button_icon' ></span>隐藏评论</span>" );
                $('#comment_block').css('display','block');
            }
            else{
                $('#comment_button span').html( " <span class='toolbar_button_icon' ></span>显示评论</span>" );
                $('#comment_block').css('display','none');
            }
            
        });
  })
  </script>

 </head>
 
 
 <body class="UIFramedPage safari4 Locale_zh_CN">

  <div style="text-align:center;">
   <div>
    <a  style="font-size:14px;font-weight:bold;">    </a>   </div>
  </div>

  <!--<input type="hidden" id="post_form_id" name="post_form_id"  />-->
  
  
  <table id="page_table" class="page_table" cellpadding="0" cellspacing="0">
   <tr>
    <td class="header_cell" id="header_cell">
     <div class="header_content clearfix">
      <div class="UIOneOff_Container">
       <div id="header_info" class="header_info">
        <a class="header_thumb_link">
         <img  alt="" class="header_thumb_img" style="height:30px;width:30px;" />        
        </a>
        <div class="header_info_text">
         <div class="header_title_text">
          <a  class="owner">SOURCE-AUTHOR</a>
          发布了 1个链接。
          <span class="header_info_timestamp">DATE-TIMEAGO</span>         
         </div>
         <div class="header_comment" id="elink_comment_wrapper">
          <span>TITLE</span>
         </div>
        </div>
       </div>
      </div>
     </div>
     
    <div class="header_actions">
      <a    class="toolbar_button has_icon" rel="#overlay"><span class="toolbar_button_label"><span class="toolbar_button_icon" >&nbsp;</span>评论</span></a>
      <a    class="toolbar_button has_icon"><span class="toolbar_button_label"><span class="toolbar_button_icon" >&nbsp;</span>赞</span></a> 
      <a    class="toolbar_button has_icon"><span class="toolbar_button_label"><span class="toolbar_button_icon" >&nbsp;</span>踩</span></a> 
      <a    id="comment_button" class="toolbar_button has_icon"><span class="toolbar_button_label"><span class="toolbar_button_icon" >&nbsp;</span>显示评论</span></a>       
    </div>
    
    <div class="header_actions" style="margin-left:5px;">
        <span   class="toolbar_button has_icon"><span class="toolbar_button_label"><span class="toolbar_button_icon" >&nbsp;</span>标记</span></span>
        <select>
            <option>好</option>
            <option>很好</option>
            <option>非常好</option>
        </select>
    </div>
    
     <div class="url_bar known_url">
      <a title="删除框架" class="remove_link" >&nbsp;</a>
      目前所在网址：
      <a title="移除框架并访问该网址。" class="url_fragment" >
       http://<span class="domain_name">fcw.com</span>/Articles/2009/07/2...</a>
     </div>
     
     <div class="url_bar unknown_url">
      <a title="删除框架" class="remove_link" >&nbsp;</a>
      返回
      <a title="移除框架并访问该网址。" class="url_fragment" >
       http://<span class="domain_name">fcw.com</span>/Articles/2009/07/2...</a>
     </div>    
     
     </td>
   </tr>
   
  <tr>
    <td class="content_cell" id="content_cell">
     <div class="content_cell_inner_shadow">
&nbsp;     </div>
     <iframe id="content_iframe" style="background-color:white"
        class="content_iframe" name="content_iframe" 
        src="http://bbs.sjtu.edu.cn//bbstcon?board=LoveBridge&reid=1282069256" frameborder="0" scrolling="Auto">     </iframe>  


    <div class="overlay" id="overlay"> 
        <h2 style="margin:10px 0"></h2> 
        <p style="float: left; margin:0px 20px 0 0; height:100%"> 
            <img src="../media/images/eye192.png" /> 
        </p>
        <form action="" method="post">
            <br /><br />
        
            <label for="comment" class="toolbar_button_label"></label>
            <textarea id="comment" style="width:300px; height:300px;overflow-y:hidden;"  name="comment">
            </textarea>
            <br />
        
            <a icon=""   class="toolbar_button has_icon" rel="#overlay">
                <span class="toolbar_button_label">
                <span class="toolbar_button_icon" ></span>评论该页面</span>&nbsp;
            </a>
        </form>

    </div>

   </td>
   </tr>
  </table>
  
  <div class="comment_show_cell" id="comment_block" style="">
    <div class="content_cell_inner_shadow">
&nbsp;         </div>
<!-- <div class="scrollcontainer">
<a class="prev"></a>
      <div class="scrollable" id="scroll_div">
        <div class="items">
                <div>你被第0个数到了SB，SB 你被第0个数到了SB，SB你被第0个数到了SB，SB你被第0个数到了SB，SB
                你被第0个数到了SB，SB 你被第0个数到了SB，SB你被第0个数到了SB，SB你被第0个数到了SB，SB
                你被第0个数到了SB，SB 你被第0个数到了SB，SB你被第0个数到了SB，SB你被第0个数到了SB，SB</div>  
                <div>1</div>  
                <div>2</div>  
                <div>3</div>  
                <div>4</div> 
                <div>5</div>  
                <div>6</div>  
                
            </div>
        </div>
<a class="next"></a>-->
<div style="width:100%;margin-top:10px;text-align:center;clear:both;">
    <div class = "ad">
        <script type="text/javascript">
        <!--
            google_ad_client = "pub-2659838370586235";
            /* 728x90, 创建于 09-7-22 */
            google_ad_slot = "0489487693";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
    </div>

<br clear="all" />
</div> 








     
<script>
// execute your scripts when DOM is ready. this is a good habit
$(function() {		
	// initialize scrollable 
	$("#scroll_div").scrollable({		
	});	
	
});
</script>
   </div>
 </body>
</html>
