<map name="AV-eggs">
<area shape="rect" coords="0,0,30,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="30,0,60,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="60,0,90,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="90,0,120,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="150,0,180,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="180,0,210,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="210,0,240,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="240,0,270,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="270,0,300,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="300,0,330,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="330,0,360,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="360,0,390,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="390,0,420,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="480,0,510,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="510,0,540,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="570,0,600,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="600,0,630,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="630,0,660,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="660,0,690,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="690,0,720,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="720,0,750,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="750,0,780,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="780,0,810,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="810,0,840,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="840,0,870,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="870,0,900,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="900,0,930,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="0,30,30,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="30,30,60,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="60,30,90,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="90,30,120,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="120,30,150,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="150,30,180,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="180,30,210,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="210,30,240,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="240,30,270,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="270,30,300,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="300,30,330,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="330,30,360,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="360,30,390,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="390,30,420,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="480,30,510,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="510,30,540,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="540,30,570,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="570,30,600,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="600,30,630,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="630,30,660,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="660,30,690,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="690,30,720,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="720,30,750,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="750,30,780,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="780,30,810,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="810,30,840,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="840,30,870,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="870,30,900,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="900,30,930,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="0,60,30,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="30,60,60,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="60,60,90,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="90,60,120,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="120,60,150,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="150,60,180,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="180,60,210,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="240,60,270,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="270,60,300,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="300,60,330,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="330,60,360,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="360,60,390,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="390,60,420,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="420,60,450,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="450,60,480,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="480,60,510,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="510,60,540,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="540,60,570,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="570,60,600,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="600,60,630,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="630,60,660,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="660,60,690,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="690,60,720,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="720,60,750,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="750,60,780,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="780,60,810,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="810,60,840,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="840,60,870,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="870,60,900,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="900,60,930,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="120,0,150,30" target="_blank" title="LQQ" href="http://www.renren.com/profile.do?id=36783992" alt="LQQ" />
<area shape="rect" coords="210,60,240,90" target="_blank" title="ZC" href="http://www.renren.com/profile.do?id=42498820" alt="ZC" />
<area shape="rect" coords="420,0,480,60" target="_blank" title="TJ" href="http://www.renren.com/profile.do?id=244891812" alt="TJ" />
<area shape="rect" coords="540,0,570,30" target="_blank" title="RLS" href="http://www.renren.com/profile.do?id=253471387" alt="RLS" />

</map>
