{% extends "base-template.html" %}
     {% block title %}十大首页{% endblock%}   
{% block content %}      
<div id="twocols1">      
     {% for bbs_block in col1 %}
    <div class="twocol-info">
    <h3> {{ bbs_block.sbpc.schoolname }}-{{ bbs_block.sbpc.chinesename }}</h3>
    <table >{% for item in bbs_block.itemlist %}
        {% if forloop.counter|divisibleby:2 %}
        <tr class="pt9lc">
        {% else %}
        <tr class="pt9dc">
        {% endif %} 
            <td nowrap="nowrap" style="width:20%" class=board>
            <a href="{{item.boardlink}}" target=_blank><b>{{item.board}}</b></a></td>
            <td nowrap="nowrap" style="width:80%" class=title>
            <a href="{{item.titlelink}}" target=_blank>
            <b>{{item.title}}</b></a></td></tr>                                          
        {% endfor %}</table>             
    </div>   
{% endfor %}        
</div>

<div id="twocols2">
	<div class="twocol-form" style="word-break:break-all;">
	<h3>Announcement from administrator</h3>
		<p>{{announcement.content}}</p>	
	</div>
	<div class="twocol-info">
        <h3>HOT<a href="url 'mgmthome'" class="button-repo-new twocol-button">推荐</a>链接</h3>
        <table >{% for item in recommend %}
        {% if forloop.counter|divisibleby:2 %}
        <tr class="pt9lc">
        {% else %}
        <tr class="pt9dc">
        {% endif %} 
            <td nowrap="nowrap" style="width:20%" class=board>
            <a href="{{item.boardlink}}" target=_blank><b>{{item.board}}</b></a></td>
            <td nowrap="nowrap" style="width:80%" class=title>
            <!--<a href="{% url 'golink' %}?l={{item.sid}}" target=_blank><b>{{item.title}}</b></a>-->
            <a href="{{item.titlelink}}" target=_blank><b>{{item.title}}</b></a>
            </td></tr>                                          
        {% endfor %}</table></div>
      
    {% for bbs_block in col2 %}
     <div class="twocol-info">
       <h3>{{ bbs_block.sbpc.schoolname }}-{{ bbs_block.sbpc.chinesename }}</h3>
       <table >{% for item in bbs_block.itemlist %}
        {% if forloop.counter|divisibleby:2 %}
        <tr class="pt9lc">
        {% else %}
        <tr class="pt9dc">
        {% endif %} 
            <td nowrap="nowrap" style="width:20%" class=board>
            <a href="{{item.boardlink}}" target=_blank><b>{{item.board}}</b></a></td>
            <td nowrap="nowrap" style="width:80%" class=title>
            <!--<a href="{% url 'golink' %}?l={{item.sid}}" target=_blank><b>{{item.title}}</b></a>-->
            <a href="{{item.titlelink}}" target=_blank><b>{{item.title}}</b></a>
            </td></tr>                                          
        {% endfor %}</table></div>
   {% endfor %}   
</div>
{% endblock%}  