{% extends "base-template.html" %}
     {% block title %}我们解析的站点{% endblock%}   
  {% block content %}      
  {% load timeagofilter  %}
  <div id="sscontainer">
    <h2><b>We are currently Parsing {{count}} sites</b>: Report problem and suggestions about these sites <strong><a href="http://code.google.com/p/bgweb/wiki/BBS_SITE_PROPOSALS">Here</a></strong></h2>
    <ul id="sslist">
    <li id="active"><a id="current"><span>学校</span>
        <span>BBS</span>
        <span>上次更新</span>
        <span>共解析</span>
        <span>状态</span></a>
    </li>
    {% for school in schools %}
    <li>
        <a class="{{school.parseconfig.statusinfo}}" href="{{school.parseconfig.locate}}"><span>{{school.schoolname}}</span>
        <span>{{school.chinesename}}</span>
        <span>{{school.lastfresh|timeago }} ago</span>
        <span>{{school.totalparse}}</span>
        <span>{{school.statusinfo}}</span></a>
    </li>{% endfor %}
<br/>
</div>
{% endblock%}  