<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"><head>
<title>校内查看/ 校园里没有新鲜事</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="description" content=" News Feed of Campus in China">
<meta name="keywords" content="bbs china campus top 10">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}content-xlayout.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}combined-content.js"></script>
<!--<script type="text/javascript" src="{{ MEDIA_URL }}content-gaa.js"></script>-->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-3272874-2");
    pageTracker._trackPageview();
    } catch(err) {}
</script>
</head>

<body>
<div id="main-wrapper">
	<div id="header-wrapper">
    <div id="header-loggedin">
	<a><img src="{{MEDIA_URL}}content/images/blogo.png" alt="BbsTopTen" id="header-wrapper-logo"></a>					
	<a><img src="{{MEDIA_URL}}content/images/small_logo.png" id="userimage" alt=""></a>
    
    <div id="header-nav"><ul>
    <li><a href="http://bbstop10.appspot.com/" target=_blank>Home</a></li>
    <li class="has-dropdown">
        <a href="{%url content_list_home%}" target=_blank>List View<small style="color:red;" >new!</small></a> 
        <ul style=""><li class="header-nav-repo-button-new">
            <a href="{%url content_list_home%}">By Visit</a></li></ul>
    </li>
    <li><a href="http://bbstop10.appspot.com/{% url viewaccount %}" target=_blank>Account</a></li>
      {% load googletags %}                                               
      {% if user.is_authenticated %}
      <li style=""><a href="{% google_logout_url %}">Log out Google <small>{{ user.email }}</small></a></li>
      {% else %}
      <li style=""><a href="{% google_login_url request.get_full_path %}">Log in</a></li>
      {% endif %}</ul></div>
    </div></div>

	<div id="content-wrapper"><div class="container">
    <div style="width:100%; margin-bottom:30px;">
    <DIV class=featured ><IMG alt=" featured" src="{{MEDIA_URL}}content/images/featured.png"> 
    <div  class="ad" style="width:780px;height:91px;">
         {% load adtags %}
        {{ "admapxn"|adcontent }}
      <!-- <img  src="{%url adsystem_pic%}?id=adgridxn" usemap="#AV-eggs" > --><a href="http://i-oo-i.appspot.com"><img  src="{{MEDIA_URL}}content/images/adgridxn.jpg" usemap="#AV-eggs"  ></a></div></DIV></div>

    <ul id="pagination-digg">
    {% if has_previous %}
        <li class="previous"><a href="{% url xncontent_list previous_page %}">«Previous</a></li>
    {% else %}
        <li class="previous-off">«Previous</li>
    {% endif %}
    {% for page in page_range %}
        {% ifequal page current_page %}
            <li class="active">{{page}}</li>
        {% else %}
            <li><a href="{% url xncontent_list page %}">{{page}}</a></li>
        {% endifequal %}
    {% endfor %}
    
    {% if has_next %}
        <li class="next"><a href="{% url xncontent_list next_page %}">Next »</a></li>
    {% else %}
        <li class="next-off">Next »</li>
    {% endif %}</ul> 

    <div id="onecol" style="clear:both">
    {% load timeagofilter  %}      
    {% for bbs_block in list %}
    <div class="onecol-info">
    <h2> {{ bbs_block.schoolname }}-{{ bbs_block.chinesename }}</h2>
    <table >{% for item in bbs_block.itemlist %}
        {% if forloop.counter|divisibleby:2 %}
        <tr class="pt9lc">
        {% else %}
        <tr class="pt9dc">
        {% endif %} 
            <td nowrap="nowrap" style="width:20%" class=board>
            <a href="{{item.boardlink}}" target=_blank><b>{{item.board}}</b></a></td>
            <td nowrap="nowrap" style="width:55%" class=title>
            <a href="{% url golink %}?l={{item.sid}}" target=_blank><b>{{item.title}}</b></a>
            {% if item.hasxntag %} ->                         
                {% for tag in item.ptags %}
                <a class="tag" title="wana tag? sign up for 100 editor quota" href="http://bbstop10.appspot.com{% url searchlistbytag tag,0 %}" target=_blank>{{tag}}</a>                               
                {% endfor %}
            {% endif %}
            </td>
            <td nowrap="nowrap" style="width:10%" align="center">
                {{item.supportcount}}<IMG alt=s src="{{MEDIA_URL}}content/images/arrow_up.gif" /> | 
                {{item.objectcount}}<IMG alt=o src="{{MEDIA_URL}}content/images/arrow_down.gif" />                                
            </td>
            <td nowrap="nowrap" style="width:15%" class=timeago>{{ item.createtime|timeago }} ago</td>
            <td nowrap="nowrap" style="width:10%" class=visit>{{item.visitcount}} Visit</td>
            <td nowrap="nowrap" style="width:10%" class=comment>{{item.commentcount}} Cmt</td></tr>                                          
     {% endfor %}</table> </div> {% endfor %}</div>
		


    <ul id="pagination-digg" style="">
        {% if has_previous %}
            <li class="previous"><a href="{% url xncontent_list previous_page %}">«Previous</a></li>
        {% else %}
            <li class="previous-off">«Previous</li>
        {% endif %}
        {% for page in page_range %}
            {% ifequal page current_page %}
                <li class="active">{{page}}</li>
            {% else %}
                <li><a href="{% url xncontent_list page %}">{{page}}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if has_next %}
            <li class="next"><a href="{% url xncontent_list next_page %}">Next »</a></li>
        {% else %}
            <li class="next-off">Next »</li>
        {% endif %}</ul> 
    </div></div>

<div style="width:100%;text-align:center;clear:both;">
    <div class = "ad">
        <script type="text/javascript">
        <!--
            google_ad_client = "pub-2659838370586235";
            /* 728x90, 创建于 09-7-22 */
            google_ad_slot = "0489487693";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
    </div>
    <div class="cb footer-placeholder"></div>
</div>
</body>
</html>